@font-face {
    font-family: 'blocky';
    src: url(fonts/Legacy-6YgdM.ttf) format(truetype);
}

body {
    margin: 0px;
    transition: 1s;
    background-color: rgb(20, 20, 20);
}

.header {
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
    font-size: 55px;
    padding: 25px;
    font-family: 'Finger Paint', 'Arial';
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 500px;
    width: 500px;
    margin: 50px auto;
    gap: 5px;
}

.box {
    border: 2px solid rgb(48, 48, 48);;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container div:hover {
    background-color: rgb(48, 48, 48);
    cursor: pointer;
}


.hovered {
    filter: invert(91%) sepia(7%) saturate(27%) hue-rotate(71deg) brightness(84%) contrast(94%);
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    backdrop-filter: blur(2px);
}

.playagain {
    border: 4px solid;
    border-radius: 10px;
    padding: 10px 50px;
    font-size: 20px;
    font-family: 'blocky';
    letter-spacing: 5px;
    word-spacing: 15px;
    background-color: rgb(126, 125, 125);
    filter: blur();
    transition: 0.7s;
}

.playagain:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.winnerDisplay {
    border: 4px solid;
    border-radius: 10px;
    padding: 20px 70px;
    font-size: 40px;
    font-family: 'blocky';
    letter-spacing: 5px;
    word-spacing: 15px;
    background-color: rgb(126, 125, 125);
    filter: blur();
    transition: 1s;
}

img {
    filter: invert();
}

